<h2>Activity Logs</h2>
<tbody>
  <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td><%= activity.description %></td>
      <td><%= activity.location.try(:name) %></td>
      <td><%= activity.schedule %></td>
      <td><%= activity.next_at.try(:strftime, "%B %-d, %Y | %l:%M %P") %></td>
      <td><%= activity.organizer_name %></td>
      <td><%= activity.fitness_level %></td>
      <td><%= activity.requirement %></td>
      <td><%= activity.website %></td>
      <td><%= activity.pricing %></td>
    </tbody>
  </table>
