

<h1>Welcome to FitFinder!</h1>
<p><strong>A Fitness Group Connector</strong></p>
<hr>
<h3>What is FitFinder?</h3>
<p>FitFinder connects like-minded fitness enthusiasts by giving people the ability to create a fitness group or join an existing fitness group.</p>

<div id="activity_map" data-activity-id="0">Google Map will Appear Here</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>Schedule</th>
      <th>Next at</th>
      <th>Organizer Name</th>
      <th>Fitness Level</th>
      <th>Requirements</th>
      <th>Website</th>
      <th>Pricing</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= activity.location.try(:name) %></td>
        <td><%= activity.schedule %></td>
        <td><%= activity.next_at.try(:strftime, "%B %-d, %Y | %l:%M %P") %></td>
        <td><%= activity.organizer_name %></td>
        <td><%= activity.fitness_level %></td>
        <td><%= activity.requirement %></td>
        <td><%= activity.website %></td>
        <td><%= activity.pricing %></td>
        <td><%= link_to 'Show', activity %></td>
        <% if can? :manage, activity %>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
