

<h1>Welcome to FitFinder!</h1>
<p><strong>A Fitness Group Connector</strong></p>
<hr>
<h3>What is FitFinder?</h3>
<p>FitFinder connects like-minded fitness enthusiasts by giving people the ability to create a fitness group or join an existing fitness group.</p>

<%= form_tag(activities_path, :method => "get") do %>
  Search Map by Distance
  <%= label :distance, "Miles:" %>
  <%= select_tag :distance, options_for_select([[1, 1], [5, 5], [10, 10], [15, 15], [20, 20]]) %>

  <%= label :location, "From:" %>
  <%= text_field_tag :location, params[:location], placeholder: 'Address, City, State Zip' %>

  <%= submit_tag "Search" %>
<% end %>
<br>
Or Search Map by Activity Information
<br>
<%= form_tag(activities_path, :method => "get") do %>

    <%= text_field_tag :search, params[:search], placeholder: 'Activity Name or Description' %>
    <%= submit_tag "Search", :name => nil %>

<% end %>
<br>



<div id="activity_map" data-activity-id="0">Google Map will Appear Here</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Website</th>
      <th>Description</th>
      <th>Next at</th>
      <th>Location</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr class='activity' data-lat='<%= activity.location.latitude %>' data-lng='<%= activity.location.longitude %>'>
        <td class='name'><%= activity.name %></td>
        <td class='user_id'><%= activity.user_id %></td>
        <td class='website'><%= activity.website %></td>
        <td class='description'><%= activity.description %></td>
        <td class='next_at'><%= activity.next_at.strftime("%B %-d, %Y | %-l:%M%P") %></td>
        <td class='location'><%= activity.location.full_address %></td>
        <td class='schedule'><%= activity.schedule %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
