<p id="notice"><%= notice %></p>
<div id="activity_map" data-activity-id="<%= @activity.id %>">Google Map will Appear Here</div>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity.user_id %>
</p>

<p>
  <strong>Website:</strong>
  <%= @activity.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Next at:</strong>
  <%= @activity.next_at %>
</p>

<p>
  <strong>Location:</strong>
  <%= @activity.location %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @activity.schedule %>
</p>

<% if @activity.location %>
  <%= @activity.location.name %>
<% end %>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
