

<div class="container activity" data-lat='<%= @activity.location.latitude %>' data-lng='<%= @activity.location.longitude %>'>
  <div class="row">
    <div class="col-sm-12">
      <div class="show_header activity_title">
        <h1 class="name"><span class='name'><%= @activity.name %></span></h1>
      </div>
    </div>
  </div>
  <div class="row info_row">
    <div class="col-sm-6">
      <div class="media">
        <div class="media-left">
          <a href="#" class="pop">
            <img class="thumbnail" src="http://placehold.it/64x64" alt="..." style="width: 75px; height 75px;">
          </a>
          <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <img src="" class="imagepreview" style="width: 100%;" >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="media-body">
          <div>
          <% if @activity.location %>
          <h3 class="media-heading">Location: <span class="location"><%= @activity.location.name %></span></h3>
          <p>
            <strong>Address:</strong>
            <%= @activity.location.full_address %>
          </p>
          <p>
            <strong>Fitness Level:</strong>
            <%= @activity.fitness_level %>
          </p>
          <p>
            <strong>Pricing:</strong>
            <%= @activity.pricing %>
          </p>
          <p>
            <strong>Requirements:</strong>
            <%= @activity.requirement %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class="col-sm-6">
      <div class="media">
        <div class="media-left">
          <a href="#" class="pop">
            <img class="thumbnail" src="http://placehold.it/64x64" alt="..." style="width: 75px; height 75px;">
          </a>
          <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <img src="" class="imagepreview" style="width: 100%;" >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="media-body">
          <h3 class="media-heading">Organizer: <%= @activity.organizer_name %>
          </h3>

          <p>
            <strong>Website:</strong>
            <span class='website'><%= link_to @activity.website, @activity.website, target: '_blank' %></span>
          </p>
          <p>
            <strong>Description:</strong>
            <span class='description'><%= @activity.description %></span>
          </p>
          <p>
            <strong>When:</strong>
            <span class='next_at'><%= @activity.next_at.try(:strftime, "%B %-d, %Y | %l:%M %P") %></span>
          </p>
          <p>
            <strong>Schedule:</strong>
            <span class='schedule'><%= @activity.schedule %></span>
          </p>
          <p>
            <strong>Contact:</strong>
            <a href='mailto:<%= @activity.organizer_email %>'><%= @activity.organizer_email %></a>
          </p>
        </div>
      </div>
    </div>
    <p>
      <%= link_to 'Edit', edit_activity_path(@activity) %> |
      <%= link_to 'Back', activities_path %>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-12" id="activity_map" data-activity-id="<%= @activity.id %>">Google Map will Appear Here</div>
  </div>

  <% if current_user.id == @activity.user_id %>
  <div class="row">
    <div class="col-sm-12" id="participant_list">
      <h3>Participants In Your Activity</h3>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <% @participant.each do |participant| %>
            <tr>
              <td>
                <% unless participant.image.blank? %>
                  <img class="participant_image" src="<%= participant.image %>" alt="">
                <% end %>
              </td>
              <td><%= participant.first_name %></td>
              <td><%= participant.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <% end %>

</div>
